.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.justify-around{
    justify-content: space-around;
}
.just
.justify-sb{
    justify-content: space-between;
}
.flex-column{
    flex-direction: column;
}
.list-style-n{
    list-style: none;
}
.grid{
    display: grid;
}
.grid-cols-2{
    grid-template-columns: 1fr 1fr;
}
.space-btwn{
    justify-content: space-between;
}
.gap{
    gap: calc(var(--spacing)*6);
}
.py-20{
    padding-block: calc(var(--spacing)*5);
}
.a-sytle-n{
    text-decoration: none;
    color: black;
}
.btn{
    padding: 10px;
    border-radius: 8px;
}
.btn-black{
    background-color: var(--foreground);
    color: var(--primary-foreground);
}
.br-8{
    border-radius: var(--radius);
}
.viewAllBtn{
    padding: var(--spacing);
    height: 30px;
    font-size: calc(var(--font-size)*1.2);
    border-radius: var(--radius);
    text-align: center;
}
.text-wrap{
    text-wrap: wrap;
}
.invert{
    filter: invert(1);
}