.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}

.just .justify-sb {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.list-style-n {
    list-style: none;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.space-btwn {
    justify-content: space-between;
}

.gap {
    gap: calc(var(--spacing)*6);
}

.py-20 {
    padding-block: calc(var(--spacing)*5);
}

.a-sytle-n {
    text-decoration: none;
    color: black;
}

.btn {
    padding: 10px;
    margin: calc(var(--spacing)/3*2);
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s
}

.btn-black {
    background-color: var(--foreground);
    color: var(--primary-foreground);
}

.br-8 {
    border-radius: var(--radius);
    border-radius: 1rem;
}

.viewAllBtn {
    padding: var(--spacing);
    height: 30px;
    font-size: calc(var(--font-size)*1.2);
    border-radius: var(--radius);
    text-align: center;
}

.text-wrap {
    white-space: normal;
    word-break: break-word;
}

.invert {
    filter: invert(1);
}

ul li {
    color: black;
    font-size: var(--font-size);
}

.svgYellow {
    color: var(--color-yellow-400);
    fill: var(--color-yellow-400);
}

.font-medium {
    font-size: calc(var(--font-size)*1.3);
}

.text-sm {
    font-size: calc(var(--font-size)*0.9);

}
.overflow-scroll{
    overflow: scroll;
}